body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    padding-top: 32px;
}

#pokedex {
    height: 350px;
    width: 250px;
    background-color: rgb(194, 26, 26);
    color: white;
    padding: 24px;
    display: flex;
    flex-direction: column;
    
}

.imgArea {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    display: flex;
    padding: 16px;
    /*padding-top: 64px;*/
    flex-wrap: wrap;
    justify-content: center;
}

.input {
    width: 325px !important;
}

.pokemonCard {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
}

.pokemonNameId {
    display: flex;
    justify-content: space-between;
}

.info-container {
    background-color: white;
    border-top-left-radius: 38px;
    border-top-right-radius: 38px;
    margin-top: -40px;
    width: 250px;
    box-shadow: 0px 0px 10px -6px;
}

.infoArea {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    padding-left: 0px;
    align-items: center;
}

.pokemonImage {
    margin-top: 50px;
    padding-bottom: 32px;
    height: 132px;
    width: 100px;
    object-fit: contain;
}

.pokemonType {
    border-radius: 8px;
    /*background-color: rgb(194, 26, 26);*/
    display: flex;
    /*padding: 8px;*/
    height: 64px;
   
}

.progress-width {
    width: 325px;
    margin-bottom: 16px;
}

/* Pokémon types */
.normal {
    background-color: rgb(204, 199, 199) !important;
}
.fire {
    background-color: rgb(194, 26, 26);
}
.water {
    background-color: rgb(19, 39, 212) !important;
}
.electric {
    background-color: rgb(255, 255, 0) !important;
}
.grass {
    background-color: rgb(37, 158, 51) !important;
}
.flying {
    background-color: rgb(3, 103, 197) !important;
}
.bug {
    background-color: rgb(39, 139, 81) !important;
}
.poison {
    background-color: rgb(143, 46, 143) !important;
}
.rock {
    background-color: rgb(124, 97, 75) !important;
}
.ground {
    background-color: rgb(165, 116, 75) !important;
}
.fighting {
    background-color: rgb(211, 79, 38) !important;
}
.ice {
    background-color: rgb(38, 176, 211) !important;
}
.psychic {
    background-color: rgb(211, 38, 188) !important;
}
.ghost {
    background-color: rgb(133, 28, 175) !important;
}
.dragon {
    background-color: rgb(109, 45, 211) !important;
}



@media (max-width: 375px) {
    .input {
        width: 275px !important;
    }

    .progress-width {
        width: 275px;
    }
    
}

@media (max-width: 312px) {
    .input {
        width: 250px !important;
    }

    .progress-width {
        width: 250px;
    }
    
}

.d-none {
    display: none;
}