.footer-area {
    padding-left: 128px;
    padding-right: 128px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        color: gray;
        text-decoration: none;
        font-weight: 500;
    }
}

.imprint-width {
    width: 200px;
    display: flex;
    justify-content: flex-start;
}

.data-protection-width {
    width: 200px;
    display: flex;
    justify-content: center;
}

.github-img-width {
    width: 200px;
    display: flex;
    justify-content: flex-end;
}

@media(max-width: 800px) {

    .footer-area {
        padding-left: 32px;
        padding-right: 32px;
    }

}

@media(max-width: 700px) {
    .imprint-width {
        width: 128px;
    }
    
    .data-protection-width {
        width: 128px;
    }
    
    .github-img-width {
        width: 128px;
    }
}

@media(max-width: 500px) {

    .footer-area {
        padding-left: 16px;
        padding-right: 16px;

        flex-direction: column-reverse;
    }

    a {
        padding-bottom: 8px;
    }

    .imprint-width {
        width: 200px;
        display: flex;
        justify-content: center;
    }
    
    .data-protection-width {
        width: 200px;
        display: flex;
        justify-content: center;
    }
    
    .github-img-width {
        width: 200px;
        display: flex;
        justify-content: center;
    }
}

