.about-me-background {
    background-color: #1a1a1a;
    color: white;
    padding-left: 128px;
    padding-right: 128px;
    padding-bottom: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.concise {
    display: flex;
    justify-content: center;
    padding-top: 64px;
    padding-bottom: 50px;
    border-bottom: #2dfcd8 1px solid;
    margin-bottom: 80px;
}

.img-myself-about-me-area {
    padding-right: 64px;
}

.img-myself-about-me {
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

.concise-information-area {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 30%;
    padding-left: 24px;
    padding-right: 24px;
}

.concise-information-headline {
    margin-bottom: 32px;
    font-size: 2em;
}

.short-information-area {
    display: flex;
    justify-content: space-between;
    
}

.turquoise {
    background-color: #2dfcd8;
    border-radius: 100%;
    width: 65px;
    height: 65px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.short-information-singles {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
}

.short-information-singles-text {
    text-align: center;
    margin-top: 32px;
}

.symbol {
    width: 24px;
    height: 24px;

}