<div id="about-me" class="about-me-background">
    <div class="concise">
        <div class="img-myself-about-me-area">
            <img src="assets/img/cam.jpg" class="img-myself-about-me">
        </div>
        <div class="concise-information-area">
            <div class="concise-information-headline">
                About me.
            </div>
            <div>
                " I´m an outdoor enthusiast (Trekking forever) and front end developer who likes to constantly incorporate new experiences into his work. "
            </div>
        </div>
    </div>
    <div class="short-information-area">
        <div class="short-information-singles">
            <div class="turquoise center">
                <img src="assets/img/Developer Akademie-Portfolio/walk-line.png" class="symbol">
            </div>
            <div class="short-information-singles-text">
                MY JOURNEY BEGAN <br>
                <br>
                in volunteer work, where I took responsibility for society.
            </div>
        </div>
        <div class="short-information-singles">
            <div class="turquoise center">
                <img src="assets/img/Developer Akademie-Portfolio/heart-line.png" class="symbol">
            </div>
            <div class="short-information-singles-text">
                MY INTEREST <br>
                <br>
                Always fascinated by IT and computers, I decided to take advantage of the current situation and use my free time to gain experience in programming.
            </div>
        </div>
        <div class="short-information-singles">
            <div class="turquoise center">
                <img src="assets/img/Developer Akademie-Portfolio/search-line.png" class="symbol">
            </div>
            <div class="short-information-singles-text">
                I AM LOOKING FOR... <br>
                <br>
                a company where I can build on my programming skills and help develop good products.
            </div>
        </div>
    </div>
</div>