<div id="about-me" class="about-me-background">
    <div class="concise">
        <div class="img-myself-about-me-area">
            <img src="assets/img/cam.jpg" class="img-myself-about-me">
        </div>
        <div class="concise-information-area">
            <div class="concise-information-headline">
                About me.
            </div>
            <div class="text-align-center">
                "I'm an outdoor enthusiast (cycling and hiking) and frontend developer. 
                And I´m a fan of simple and elegant solutions."
            </div>
        </div>
    </div>
    <div class="short-information-area">
        <div class="short-information-singles">
            <div class="turquoise center">
                <img src="assets/img/Developer Akademie-Portfolio/walk-line.png" class="symbol">
            </div>
            <div class="short-information-singles-text">
                MY JOURNEY BEGAN <br>
                <br>
                During the beginning of the the lockdown I started reading IT books as 
                I was always interested in It. My first book was "Learning to program from head to toe". 
                After finding out that IT was most interesting for me, I decided to use my free time 
                to gain experience in programming, both alone and in teams with other developers.
            </div>
        </div>
        <div class="short-information-singles">
            <div class="turquoise center">
                <img src="assets/img/Developer Akademie-Portfolio/heart-line.png" class="symbol">
            </div>
            <div class="short-information-singles-text">
                MY INTEREST <br>
                <br>
                I like working with the Angular framework and the accompanying Angular Material & Material
                 Design, because it gives me a good overview of the code. I'm also open to working with 
                 other frameworks and technologies. <br>
                <br>
                The easier code is to understand, the better it is for everyone. 
            </div>
        </div>
        
        <div class="short-information-singles">
            <div class="turquoise center">
                <img src="assets/img/Developer Akademie-Portfolio/search-line.png" class="symbol">
            </div>
            <div class="short-information-singles-text">
                I AM LOOKING FOR... <br>
                <br>
                ...a junior position in a team that supports each other 
                where I can grow with the team. I am a hard worker and fast learner 
                and want to bring my experience and passion into my job as a junior developer.
            </div>
        </div>
    </div>
</div>