<div id="about-me" class="about-me-background">
    <div class="concise">
        <div class="img-myself-about-me-area">
            <img src="assets/img/cam.jpg" class="img-myself-about-me">
        </div>
        <div class="concise-information-area">
            <div class="concise-information-headline">
                About me.
            </div>
            <div>
                " I´m an outdoor enthusiast (Trekking forever) and front end developer who loves pushing bounderies. "
            </div>
        </div>
    </div>
    <div class="short-information-area">
        <div class="short-information-singles">
            <div class="turquoise center">
                <img src="assets/img/Developer Akademie-Portfolio/walk-line.png" class="symbol">
            </div>
            <div class="short-information-singles-text">
                MY JOURNEY BEGAN <br>
                <br>
                During the lockdown in the corona pandemic, I got to know and appreciate programming.
            </div>
        </div>
        <div class="short-information-singles">
            <div class="turquoise center">
                <img src="assets/img/Developer Akademie-Portfolio/heart-line.png" class="symbol">
            </div>
            <div class="short-information-singles-text">
                MY INTEREST <br>
                <br>
                I'm interested in technologies that have good software architecture and that have good troubleshooting skills.
            </div>
        </div>
        <div class="short-information-singles">
            <div class="turquoise center">
                <img src="assets/img/Developer Akademie-Portfolio/search-line.png" class="symbol">
            </div>
            <div class="short-information-singles-text">
                I am looking for... <br>
                <br>
                a company in which I get some freedom and feel comfortable.
            </div>
        </div>
    </div>
</div>