<div id="home" class="main-area-background">
    <div class="main-area-content">
        <div class="introduction-area">
            <div class="introduction css-typing" id="introductionCssTyping">
                 
                <p class="less-line-spacing less-ling-spacing-hi-margin-top">Hi,</p>
                <p class="less-line-spacing">I´m <font color=#fa2759>Cam H.</font> Trang</p>
                <p class="less-line-spacing">Front End Develop<font color=#2dfcd8>e</font>r</p>
                
            </div>
            <a href="#contact-me" class="contact-me-button">
                Contact me.
            </a>
        </div>
        <div class="img-area">
            <img src="assets/img/cam_fotostudio_komprimiert.jpg" class="img-myself">
        </div>
    </div>
    <div class="read-more">
        Read more
        <a href="#my-skills"><img src="assets/img/arrow-211-64.png" class="arrow"></a>
    </div>
</div>