<div class="my-work-area-background">
    <div class="headline-my-work">
        My work
    </div>
    <div class="work-area-button-background">
        <div class="work-area-button" *ngFor="let work of myWork">
            {{ work.title }}
        </div>
    </div>
    <div class="work-img-area-background">
        <div *ngFor="let workImg of myWorkImges">
            <div class="imageBox">
                <!--<div id="work-img-try-out-parent">-->
                <div class="imageInn">
                    <img class="work-img-properties" src="{{ workImg.img }}">
                    <!--<img class="work-img-properties" src="{{ workImg.img }}">-->
                </div>
                <div class="hoverImg" *ngFor="let tryOut of tryOuts">
                    <div class="try-out-area">
                        <p class="try-out-title"><b>{{ tryOut.title }}</b></p>
                        <div class="try-out-short-information">
                            {{ tryOut.shortInformation }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div id="work-img-properties-hover-parent">
    <img class="work-img-properties hidden-child" src="{{ workImg.img }}">
</div>-->