<div id="my-work" class="my-work-area-background">
    <div class="headline-my-work">
        My work
    </div>
    <div class="work-area-button-background">
        <div class="work-area-button" *ngFor="let workTopic of myWorkTopic">
            {{ workTopic.title }}
        </div>
    </div>
    <div class="work-img-area-background">
        <div *ngFor="let mywork of myWorks; let i=index">
            <div class="imageBox">
                <!--<div id="work-img-try-out-parent">-->
                <div class="imageInn">
                    <img class="work-img-properties" src="{{ mywork.img }}">
                    <!--<img class="work-img-properties" src="{{ workImg.img }}">-->
                </div>
                <div class="hoverImg">
                    <div class="try-out-background">
                            <p class="try-out-title"><b>{{ mywork.title }}</b></p>
                            <div class="try-out-short-information">
                                {{ mywork.shortInformation }}
                            </div>
                            <div class="try-out-button">
                                Try out
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div id="work-img-properties-hover-parent">
    <img class="work-img-properties hidden-child" src="{{ workImg.img }}">
</div>-->