<div class="my-work-area-background">
    <div class="headline-my-work">
        My work
    </div>
    <div class="work-area-button-background">
        <div class="work-area-button" *ngFor="let work of myWork">
            {{ work.title }}
        </div>
    </div>
    <div class="work-img-area-background">
        <div *ngFor="let workImg of myWorkImges">
            <div id="work-img-try-out-parent">
                <div >
                </div>
                <img class="work-img-properties" src="{{ workImg.img }}">
            </div>
        </div>
    </div>
</div>

<!--<div id="work-img-properties-hover-parent">
    <img class="work-img-properties hidden-child" src="{{ workImg.img }}">
</div>-->