.my-work-area-background {
    background-color: black;
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 64px;
    padding-left: 128px;
    padding-right: 128px;
}

.headline-my-work {
    color: white;
    font-size: 2em;
    display: flex;
    justify-content: center;
    padding-top: 64px;
}

.work-area-button-background {
    display: flex;
    justify-content: center;
    margin-top: 64px;
    margin-bottom: 32px;
}

.work-area-button {
    color: white;
    border: 2px solid #fa2759;
    width: 112px;
    height: 64px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 3px;
    margin-right: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
        background-color: #fa2759;
    }
}

.work-img-area-background {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.work-img-properties {
    width: 412px;
    height: 412px;
    margin: 16px;
}

//#work-img-try-out-parent {
//width: 412px;
//height: 412px;
//margin: 16px;
//background-color: rgba(255, 255, 255, 0.9);
//opacity: 0.9;
//}

//#work-img-try-out-parent .hidden-child {
//visibility: hidden;
//}

//#work-img-try-out-parent:hover .hidden-child {
//visibility: visible;
//}

.imageBox {
    position: relative;
    
}

.imageBox .hoverImg {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.imageBox:hover .hoverImg {
    display: block;
}

.try-out-background {
    width: 412px;
    height: 412px;
    margin: 16px;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.try-out-title {
    color: #fa2759;
    font-size: 1.1em;
}

.try-out-button {
    color: #fa2759;
    border: 2px solid #fa2759;
    width: 112px;
    height: 64px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
        background-color: #fa2759;
        color: white;
    }
}