<!-- Wenn darkMode = true ist, dann wird die Klasse headerDark angewendet. -->
<header>





    <img *ngIf="!darkMode" routerLink="/" src="assets/img/computer_white.png">
    <img *ngIf="darkMode" routerLink="/" src="assets/img/computer_black.png">

    <!-- Die div bekommt die Klasse darkLinks, wenn die Variable darkMode = true ist. Wenn false, dann div ohne Klasse. -->
    <div [class.darkLinks]="darkMode">
        <a routerLink="/">Home</a>
        <a href="#about-me">About</a>
        <a href="#my-work">Portfolio</a>
    </div>
</header>