<!-- Wenn darkMode = true ist, dann wird die Klasse headerDark angewendet. -->
<header [class.headerWhite]="!darkMode">


    <img *ngIf="!darkMode" routerLink="/" src="assets/img/computer_black.png">
    <img *ngIf="darkMode" routerLink="/" src="assets/img/computer_white.png">

    <!-- Die div bekommt die Klasse darkLinks, wenn die Variable darkMode = true ist. Wenn false, dann div ohne Klasse. -->
    <div class="darkLinks" >
        <!--<a routerLink="/">Home</a>-->
        <a [class.whiteLinks]="!darkMode" href="#home">Home</a>
        <a [class.whiteLinks]="!darkMode" href="#about-me">About</a>
        <a [class.whiteLinks]="!darkMode" href="#my-work">Portfolio</a>
    </div>
</header>