header {
    position: absolute;
    top: 16px;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 1;
    padding-left: 150px;
    padding-right: 150px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        color: white;
        text-decoration: none;
        margin-left: 32px;
        font-weight: 500;

        &:hover {
            color: #fa2759;
        }
    }

    img {
        height: 50px;
        cursor: pointer;
    }
}

.darkLinks {
    a {
        color: white;

        &:hover {
            //color: rgba(0, 0, 0, 0.8);
            color: #fa2759;
        }
    }
}

.whiteLinks {
    color: black !important;
}

.headerWhite {
    background-color: black;
    color: black;
}

@media(max-width: 800px) {

    header {
        padding-left: 32px;
        padding-right: 32px;
    }
    
}