header {
    position: absolute; // absolute
    top: 0px;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 1;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 128px;
    padding-right: 128px;
    font-size: 1.2em;

    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        color: white;
        text-decoration: none;
        margin-left: 32px;
        font-weight: 500;

        &:hover {
            color: #fa2759;
        }
    }

    img {
        height: 65px;
        cursor: pointer;
    }
}

.darkLinks {
    a {
        color: white;

        &:hover {
            //color: rgba(0, 0, 0, 0.8);
            color: #fa2759;
        }
    }
}

.whiteLinks {
    color: white !important;

    &:hover {
        color: #fa2759 !important;
    }
}

.headerWhite {
    background-color: white;
    color: black;
    position: relative; //
}

.header-black {
    background-color: black;
    color: white;
    position: relative; //
}

@media (max-width: 1400px) {
    header {
        font-size: 1em;

        img {
            height: 50px;
            cursor: pointer;
        }
    }
}

@media (max-width: 800px) {
    header {
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media (max-width: 500px) {
    header {
        padding-left: 16px;
        padding-right: 16px;
        height: 64px;

        a {
            margin-left: 24px;
        }
    }
}

@media (max-width: 325px) {
    header {
        padding-left: 16px;
        padding-right: 16px;

        a {
            margin-left: 20px;
        }
    }
}
