<div class="contact-me-area-background">
    <div class="contact-me-area-background-inner">
        <div class="header-contact-me">
            Contact me.
        </div>
        <div>
            <font color=#c7c7c7>Get in touch via the form below, or by emailing &nbsp;</font>
            <font color=#2dfcd8>camtrang@web.de</font>
        </div>
        <form>
            <p class="font-color-white">Name</p>
            <input placeholder="Enter your name" class="input" style="border: 0; color: grey">

            <p class="font-color-white">Email address</p>
            <input placeholder="Enter your Email address" class="input" style="border: 0; color: grey">

            <p class="font-color-white">Message</p>
            <textarea placeholder="Enter your message" class="textarea" style="border: 0; color: grey"></textarea>
        </form>
        <div class="to-send-button-area">
            <div class="to-send-button">
                Send
            </div>
        </div>
    </div>
</div>