<div id="contact-me" class="contact-me-area-background">
    <div class="contact-me-area-background-inner">
        <div class="header-contact-me">
            Contact me.
        </div>
        <div>
            <font color=#c7c7c7>Get in touch via the form below, or by emailing &nbsp;</font>
            <font color=#2dfcd8>camtrang@web.de</font>
        </div>
        <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
            <p class="font-color-white">Name<font color=red>*</font></p>
            <input 
                type="text" 
                placeholder="Enter your name" 
                class="input" 
                style="border: 0; color: grey"
                id="name"
                required
                [(ngModel)]="contact.name"
                name="name"
                >

            <p class="font-color-white">Email address<font color=red>*</font></p>
            <input 
                type="email"
                placeholder="Enter your email address" 
                required
                [(ngModel)]="contact.email"
                class="input" 
                style="border: 0; color: grey"
                name="email"
                #email="ngModel"
                email
                >

            <p class="font-color-white">Message<font color=red>*</font></p>
            <textarea 
                name="message" 
                id="textare"
                rows="10"
                placeholder="Enter your message" 
                required
                [(ngModel)]="contact.message"
                #message="ngModel"
                class="textarea" 
                style="border: 0; color: grey">
            </textarea>
            <div class="to-send-button-area">
                <button type="submit" class="to-send-button" [disabled]="!contactForm.form.valid">
                    Send
                </button>
            </div>
        </form>
        
    </div>
</div>