.my-skills-area {
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 64px;
    padding-left: 150px;
    padding-right: 150px;
}

.headline-my-skills {
    color: white;
    font-size: 2em;
    display: flex;
    justify-content: center;
}