.my-skills-area-background {
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 64px;
    padding-left: 125px;
    padding-right: 125px;
}

.headline-my-skills {
    color: white;
    font-size: 2em;
    display: flex;
    justify-content: center;
}

.all-skills-area {
    padding-left: 125px;
    padding-right: 125px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 64px;
}

.skills-components-background {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
}

.skill-img-background {
    box-shadow: 0px 1px 3px silver;
    border-radius: 100%;
    background-color: white;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    z-index: 2;
    position: relative;
    top: 32px;
    transform: translateX(105%);
}

.skill-img {
    width: 25px;
    height: 25px;
}

.skill-title-area-background {
    width: 200px;
    height: 128px;
    background-color: white;
    border-radius: 8px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
}

@media(max-width: 1125px) {
    .my-skills-area-background {
        background-color: #1a1a1a;
        display: flex;
        flex-direction: column;
        padding-top: 64px;
        padding-bottom: 0px;
        padding-left: 110px;
        padding-right: 110px;
    }
    
    .headline-my-skills {
        color: white;
        font-size: 2em;
    }
    
    .all-skills-area {
        padding-left: 110px;
        padding-right: 110px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 64px;
    }
    
    .skills-components-background {
        display: flex;
        flex-direction: column;
        margin-left: 8px;
        margin-right: 8px;
    }
    
    .skill-img-background {
        width: 50px;
        height: 50px;
        margin-top: 32px;
        top: 25px;
        transform: translateX(100%);
    }
    
    .skill-img {
        width: 15px;
        height: 15px;
    }
    
    .skill-title-area-background {
        width: 150px;
        height: 100px;
        background-color: white;
        border-radius: 8px;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.1em;
    }
}

@media(max-width: 965px) {
    .my-skills-area-background {
        background-color: #1a1a1a;
        padding-top: 64px;
        padding-bottom: 0px;
        padding-left: 95px;
        padding-right: 95px;
    }

    .all-skills-area {
        padding-left: 95px;
        padding-right: 95px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 64px;
    }
    
    .headline-my-skills {
        font-size: 2em;
    }
    
    .skills-components-background {
        display: flex;
        flex-direction: column;
        margin-left: 8px;
        margin-right: 8px;
    }
    
    .skill-img-background {
        width: 40px;
        height: 40px;
        margin-top: 32px;
        top: 20px;
        transform: translateX(120%);
    }
    
    .skill-img {
        width: 15px;
        height: 15px;
    }
    
    .skill-title-area-background {
        width: 135px;
        height: 90px;
        font-size: 1em;
    }
}

@media(max-width: 860px) {
    .my-skills-area-background {
        background-color: #1a1a1a;
        padding-top: 64px;
        padding-bottom: 0px;
        padding-left: 80px;
        padding-right: 80px;
    }

    .all-skills-area {
        padding-left: 80px;
        padding-right: 80px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 64px;
    }
}

@media(max-width: 790px) {
    .my-skills-area-background {
        background-color: #1a1a1a;
        padding-top: 64px;
        padding-bottom: 0px;
        padding-left: 65px;
        padding-right: 65px;
    }

    .all-skills-area {
        padding-left: 65px;
        padding-right: 65px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 64px;
    }
}

@media(max-width: 730px) {
    .my-skills-area-background {
        background-color: #1a1a1a;
        padding-top: 64px;
        padding-bottom: 0px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .all-skills-area {
        padding-left: 50px;
        padding-right: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 64px;
    }
}

@media(max-width: 675px) {
    .my-skills-area-background {
        background-color: #1a1a1a;
        padding-top: 64px;
        padding-bottom: 0px;
        padding-left: 35px;
        padding-right: 35px;
    }

    .all-skills-area {
        padding-left: 35px;
        padding-right: 35px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 64px;
    }
}

@media(max-width: 610px) {
    .my-skills-area-background {
        background-color: #1a1a1a;
        padding-top: 64px;
        padding-bottom: 0px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .all-skills-area {
        padding-left: 25px;
        padding-right: 25px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 64px;
    }
}

@media(max-width: 570px) {
    .my-skills-area-background {
        background-color: #1a1a1a;
        padding-top: 64px;
        padding-bottom: 0px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .all-skills-area {
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 64px;
    }
}

@media(max-width: 540px) {
    .my-skills-area-background {
        background-color: #1a1a1a;
        padding-top: 64px;
        padding-bottom: 0px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .all-skills-area {
        padding-left: 5px;
        padding-right: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 64px;
    }
}


@media(max-width: 510px) {
    .my-skills-area-background {
        background-color: #1a1a1a;
        padding-top: 64px;
        padding-bottom: 0px;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .headline-my-skills {
        font-size: 2em;
    }
    
    .all-skills-area {
        padding-left: 5px;
        padding-right: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 64px;
    }
    
    .skills-components-background {
        display: flex;
        flex-direction: column;
        margin-left: 8px;
        margin-right: 8px;
    }
    
    .skill-img-background {
        width: 40px;
        height: 40px;
        margin-top: 32px;
        top: 20px;
        transform: translateX(100%);
    }
    
    .skill-img {
        width: 15px;
        height: 15px;
    }
    
    .skill-title-area-background {
        width: 110px;
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        font-size: 1em;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 12px;
    }
}

@media(max-width: 445px) {
    .my-skills-area-background {
        background-color: #1a1a1a;
        padding-top: 32px;
        padding-bottom: 0px;
        padding-left: 16px;
        padding-right: 16px;
    }
    
    .headline-my-skills {
        font-size: 2em;
    }
    
    .all-skills-area {
        padding-left: 0px;
        padding-right: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 64px;
    }
    
    .skills-components-background {
        display: flex;
        flex-direction: column;
        margin-left: 8px;
        margin-right: 8px;
    }
    
    .skill-img-background {
        width: 40px;
        height: 40px;
        margin-top: 32px;
        top: 20px;
        transform: translateX(68%);
    }
    
    .skill-img {
        width: 15px;
        height: 15px;
    }
    
    .skill-title-area-background {
        width: 85px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        font-size: 0.75em;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 12px;
    }
}