<div id="my-skills" class="my-skills-area-background">
    <div class="headline-my-skills">
        My skills
    </div>
    <div class="all-skills-area">
        <div class="skills-components-background" *ngFor="let skill of mySkills">
            <div class="skill-img-background">
                <img class="skill-img" src="{{skill.img}}"><br>
            </div>
            <div class="skill-title-area-background">
                {{ skill.title }}
            </div>
        </div>
    </div>
</div>