.data-protection-background {
    margin-top: 64px;
    padding-left: 128px;
    padding-right: 128px;
    padding-bottom: 150px;
}

@media(max-width: 800px) {
    .data-protection-background {
        margin-top: 156px;
        padding-left: 32px;
        padding-right: 32px;
    }
}


@media(max-width: 500px) {
    .data-protection-background {
        margin-top: 156px;
        padding-left: 16px;
        padding-right: 16px;
    }
}