body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.text-align-center {
    text-align: center;
}
html, body { height: 100%; }
//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
